{% extends "blog/blog_post_list.html" %}

{% load mezzanine_tags comment_tags keyword_tags rating_tags i18n future disqus_tags %}

{% block meta_title %}{{ blog_post.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for blog_post as tags %}
{% for tag in tags %}{% if not forloop.first %}, {% endif %}{{ tag }}{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ blog_post.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{% editable blog_post.title %}{{ blog_post.title }}{% endeditable %}
{% endblock %}

{% block breadcrumb_menu %}
{{ block.super }}
<li class="active">{{ blog_post.title }}</li>
{% endblock %}

{% block main %}


{% block blog_post_detail_postedby %}
{% editable blog_post.publish_date %}
<h6 class="post-meta">
    {% trans "Posted by" %}:
    {% with blog_post.user as author %}
    <a href="{% url "blog_post_list_author" author %}">{{ author.get_full_name|default:author.username }}</a>
    {% endwith %}
    {% blocktrans with sometime=blog_post.publish_date|timesince %}{{ sometime }} ago{% endblocktrans %}
</h6>
{% endeditable %}
{% endblock %}
{% block blog_post_detail_commentlink %}
<p>
    {% if blog_post.allow_comments %}
        {% if settings.COMMENTS_DISQUS_SHORTNAME %}
            (<a href="{{ blog_post.get_absolute_url }}#disqus_thread"
                data-disqus-identifier="{% disqus_id_for blog_post %}">{% spaceless %}
                {% trans "Comments" %}
            {% endspaceless %}</a>)
        {% else %}
            <a href="#comments">{% spaceless %}
            <span class="ds-thread-count" data-thread-key="{{blog_post.id}}"></span>
            <!-- {% blocktrans count comments_count=blog_post.comments_count %}{{ comments_count }} comment{% plural %}{{ comments_count }} comments{% endblocktrans %} -->
            {% endspaceless %}</a>
        {% endif %}
    {% endif %}
</p>
{% endblock %}

{% block blog_post_detail_featured_image %}
{% if settings.BLOG_USE_FEATURED_IMAGE and blog_post.featured_image %}
<p><img class="img-responsive" src="{{ MEDIA_URL }}{% thumbnail blog_post.featured_image 600 0 %}"></p>
{% endif %}
{% endblock %}

{% if settings.COMMENTS_DISQUS_SHORTNAME %}
{% include "generic/includes/disqus_counts.html" %}
{% endif %}

{% block blog_post_detail_content %}
{% editable blog_post.content %}
{{ blog_post.content|richtext_filters|safe }}
{% endeditable %}
{% endblock %}

{% block blog_post_detail_keywords %}
{% keywords_for blog_post as tags %}
{% if tags %}
{% spaceless %}
<ul class="list-inline tags">
    <li>{% trans "Tags" %}:</li>
    {% for tag in tags %}
    <li><a href="{% url "blog_post_list_tag" tag.slug %}">{{ tag }}</a></li>
    {% endfor %}
</ul>
{% endspaceless %}
{% endif %}
{% endblock %}

{% block blog_post_detail_rating %}
<div class="panel panel-default rating">
    <div class="panel-body">
    {% rating_for blog_post %}
    </div>
</div>
{% endblock %}

{% comment %}
{% block blog_post_detail_sharebuttons %}
{% set_short_url_for blog_post %}
<a class="btn btn-sm share-twitter" target="_blank" href="http://twitter.com/home?status={{ blog_post.short_url|urlencode }}%20{{ blog_post.title|urlencode }}">{% trans "Share on Twitter" %}</a>
<a class="btn btn-sm share-facebook" target="_blank" href="http://facebook.com/sharer.php?u={{ request.build_absolute_uri }}&amp;t={{ blog_post.title|urlencode }}">{% trans "Share on Facebook" %}</a>
{% endblock %}
{% endcomment %}

{% block blog_post_previous_next %}
<ul class="pager">
{% with blog_post.get_previous_by_publish_date as previous %}
{% if previous %}
<li class="previous">
    <a href="{{ previous.get_absolute_url }}">&larr; {{ previous }}</a>
</li>
{% endif %}
{% endwith %}
{% with blog_post.get_next_by_publish_date as next %}
{% if next %}
<li class="next">
    <a href="{{ next.get_absolute_url }}">{{ next }} &rarr;</a>
</li>
{% endif %}
{% endwith %}
</ul>
{% endblock %}

{% block blog_post_detail_related_posts %}
{% if blog_post.related_posts.all %}
<div id="related-posts">
<h3>{% trans 'Related posts' %}</h3>
<ul class="list-unstyled">
{% for post in blog_post.related_posts.all %}
     <li><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>
{% endfor %}
</ul>
</div>
{% endif %}
{% endblock %}

<!-- start bshare -->
<br/>
<div class="bshare-custom">
&#x5206;&#x4EAB;&#x5230;:
<a title="&#x5206;&#x4EAB;&#x5230;QQ&#x7A7A;&#x95F4;" class="bshare-qzone"></a>
<a title="&#x5206;&#x4EAB;&#x5230;&#x65B0;&#x6D6A;&#x5FAE;&#x535A;" class="bshare-sinaminiblog"></a>
<a title="&#x5206;&#x4EAB;&#x5230;&#x4EBA;&#x4EBA;&#x7F51;" class="bshare-renren"></a>
<a title="&#x5206;&#x4EAB;&#x5230;&#x817E;&#x8BAF;&#x5FAE;&#x535A;" class="bshare-qqmb"></a>
<a title="&#x5206;&#x4EAB;&#x5230;&#x7F51;&#x6613;&#x5FAE;&#x535A;" class="bshare-neteasemb"></a>
<a title="&#x66F4;&#x591A;&#x5E73;&#x53F0;" class="bshare-more bshare-more-icon more-style-addthis"></a>
</div>
<script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/button.js#style=-1&amp;uuid=&amp;pophcol=1&amp;lang=zh"></script>
<a class="bshareDiv" onclick="javascript:return false;"></a>
<script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script>
<br/>
<!-- end bshare -->

{% block blog_post_detail_comments %}
{% if blog_post.allow_comments %}
<!-- {% comments_for blog_post %} -->
<span id="comments">
<div class="ds-thread" data-thread-key="{{blog_post.id}}" data-title="{{blog_post.title}}" data-url="{{request.build_absolute_uri}}"></div>
</span>

<script type="text/javascript">
    var duoshuoQuery = {short_name:"jintianfree"};
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0] 
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>

{% endif %}
{% endblock %}

<link type="text/css" rel="stylesheet" href="{{STATIC_URL}}syntaxhighlighter_2.1.364/styles/shThemeDefault.css"></link>
<link type="text/css" rel="stylesheet" href="{{STATIC_URL}}syntaxhighlighter_2.1.364/styles/shCore.css"></link>

<script language="javascript" src="{{STATIC_URL}}syntaxhighlighter_2.1.364/scripts/shCore.js"></script>
<script language="javascript" src="{{STATIC_URL}}syntaxhighlighter_2.1.364/scripts/shBrushCSharp.js"></script>
<script language="javascript" src="{{STATIC_URL}}syntaxhighlighter_2.1.364/scripts/shBrushXml.js"></script>
<script language="javascript" src="{{STATIC_URL}}syntaxhighlighter_2.1.364/scripts/shBrushCpp.js"></script>
<script language="javascript" src="{{STATIC_URL}}syntaxhighlighter_2.1.364/scripts/shBrushPython.js"></script>
<script language="javascript" src="{{STATIC_URL}}syntaxhighlighter_2.1.364/scripts/shBrushCpp.js"></script>

<script type="text/javascript">
    SyntaxHighlighter.config.clipboardSwf = '{{STATIC_URL}}syntaxhighlighter_2.1.364/scripts/clipboard.swf';
    SyntaxHighlighter.all();
</script>

{% endblock %}
